.faucet-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balance {
    font-size: 42px;
    margin-bottom: 6px;
}

.account-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 3px;
    margin-top: 5px;
    margin-left: 3px;
}

.account-span {
    margin-right: 6px;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
}

.btn-primary {
    margin-right: 10px;
    margin-left: 3px;
    font-size: 16px;
}
